nav.bg-dark{
  background: #34495e !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup-form{
  margin: 30px auto;
  border-radius: 5px;
  border:2px #27ae60 solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.signup-body{
  padding: 8px;
}
.signup-header{
  color: #fff;
  text-align: center;
  background: #27ae60;
  padding: 10px;
}
@media only screen and (min-width: 1000px)  {
  .signup-form{
    width: 40%;
  }
}
@media only screen and (max-width: 1000px)  {
  .signup-form{
    width: 70%;
  }
}
